.container {
  margin-top: 75px;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.first {
  width: 6%; /* Vertical strip width for socials */
  padding-left: 0px; /* Add left padding for socials */
  display: flex;
  margin: auto;
  padding-top: 600px;

  flex-direction: column; /* Align socials vertically */
  justify-content: center; /* Center vertically */
  position: relative; /* Add positioning */
  left: -92px; /* Adjust as needed to move left */
}

.header {
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); Soft shadow for subtle depth */
  /* background-color: rgba(31,31,56,255); */
  margin-top: 230px; /* Adjust spacing from top */
  width: 47%;
  /* padding: 0 15px; */
  margin-left: 5%; /* Add space between socials and header */
}

.text-light b {
  display: inline-block;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  font-weight: bolder;
  font-size: larger;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cta {
  display: flex;
  gap: 2rem; /* Adjust the value to control spacing */
  padding-top: 10px;
}

.last {
  margin-top: 80px;
  width: 47%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me img {
  width: 100%; /* Ensure the image fits within the circle */
  height: 100%;
  object-fit: cover; /* Ensure proper aspect ratio */
  border-radius: 50%; /* Match the container's border-radius */
}
