.navbar {
  background-color: transparent;
  padding-left: 18px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Space between logo and nav links */
}

.navbar-logo-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.navbar-logo {
  height: 60px;
  width: 60px;
}

/* .navbar-logo-link:hover .navbar-logo {
  transform: scale(1.35); /* Adds a scaling effect on hover */

.navbar-links {
  list-style-type: none;
  display: flex;
  height: 100%; /* Make navbar-links container fill the navbar height */
  justify-content: center; /* Center the navigation links horizontally */
  align-items: center; /* Center the navigation links vertically */
  flex-grow: 1; /* Allow the nav links to occupy the center space */
  margin: 0;
  padding-right: 78px;
}

.navbar-links li {
  margin: 0 10px; /* Add spacing between items */
}

.navbar-links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 18px;
  display: inline-block;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  font-weight: bolder;
  transform: scale(1.4);
  border-radius: 4px;

}.navbar-links a.active {
  transform: scale(1.5); /* Slightly larger */
  font-weight: bolder;
}

